body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-family: Helvetica;
  overflow: hidden;
}

section {
  text-align: center;
  width: 100%;
}

canvas {
  margin: 0 auto;
  text-align: center;
  z-index: 5;
}

#msg {
  background-color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/* backgrounds */

.bg {
  background: transparent url() no-repeat center center fixed;
}

.bg.fullscreen {
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.bg.galaxy {background-image: url('/assets/images/effects/bg_galaxy.jpg')}
.bg.paper {background-image: url('/assets/images/effects/bg_paper.jpg')}
.bg.bw {background-image: url('/assets/images/effects/bg_bw.jpg')}
.bg.supermodel {background-image: url('/assets/images/effects/bg_supermodel.jpg')}
.bg.lebron {background-image: url('/assets/images/effects/bg_lebron.jpg')}
.bg.icp {background-image: url('/assets/images/effects/bg_icp.jpg')}
.bg.sunbeam {background-image: url('/assets/images/effects/bg_sunbeam.jpg')}
.bg.rainbow-smoke {background-image: url('/assets/images/effects/bg_rainbow-smoke.jpg')}
.bg.hip {background-image: url('/assets/images/effects/bg_hip.jpg')}
.bg.illusion {background-image: url('/assets/images/effects/bg_illusion.jpg')}

/* foregrounds */

.fg {
  position: absolute;
  z-index: 9;
}

.fg.tile, .fg.center {
  background: transparent url() repeat center center scroll;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.fg.center {
  background-repeat: no-repeat;
  z-index: 7;
}

.fg.flip {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
}

.fg.sparkle {background-image: url('/assets/images/effects/tile_sparkle.gif')}
.fg.frame {background-image: url('/assets/images/effects/fg_frame.png')}
.fg.loading {background-image: url('/assets/images/effects/fg_loading.gif')}
.fg.mustache {background-image: url('/assets/images/effects/fg_mustache.png')}


/* bottom borders */

.border {
  background: transparent url() repeat-x bottom left scroll;
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
}

.border.flames {background-image: url('/assets/images/effects/border_flames.gif'); height: 140px;}

/* client animations */

.client {
  position: fixed;
  z-index: 999;
}