body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-family: Helvetica;
  overflow: hidden;
}

section {
  text-align: center;
  width: 100%;
}

canvas {
  margin: 0 auto;
  text-align: center;
}

#msg {
  background-color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/* backgrounds */

.bg {
  background: transparent url() no-repeat center center fixed;
}

.bg.fullscreen {
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.bg.tile {
  background-repeat: repeat;
}

.bg.galaxy {background-image: url('/assets/images/effects/bg_galaxy.jpg')}
.bg.paper {background-image: url('/assets/images/effects/bg_paper.jpg')}
.bg.bw {background-image: url('/assets/images/effects/bg_bw.jpg')}
.bg.supermodel {background-image: url('/assets/images/effects/bg_supermodel.jpg')}
.bg.lebron {background-image: url('/assets/images/effects/bg_lebron.jpg')}
.bg.icp {background-image: url('/assets/images/effects/bg_icp.jpg')}
.bg.sparkle {background-image: url('/assets/images/effects/bg_sparkle.gif')}

/* foregrounds */

.fg {
  position: absolute;
}

.fg.flip {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
}