body {

}

section#main {
  text-align: center;
}

canvas {
  margin: 0 auto;
}

#msg {
  background-color: #fff;
}

/* backgrounds*/

.bg {
  background: transparent url() no-repeat center center fixed;
}

.bg.fullscreen {
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.bg.galaxy {
  background-image: url('/assets/images/effects/bg_galaxy.jpg');
}

.bg.paper {
  background-image: url('/assets/images/effects/bg_paper.jpg');
}

.bg.bw {
  background-image: url('/assets/images/effects/bg_bw.jpg');
}
